@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.perfil{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin: 0;
    margin-bottom: 10px;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#title{
    color: whitesmoke;
    margin: 0;
    margin-bottom: 15px;
}

.subtitulo{
    color: white;
    margin: 0;
    margin-bottom: 15px;
}

.titulo_postagem{
    color: silver;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    color: white;
    padding: 10px;
    border: 3px solid red;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: justify;
}

.rodape{
    margin: 0;
    margin-bottom: 15px;
}

/* .zap{
    list-style-image: url("img/zap.png");
} */

.contact_list{
    list-style-type: none;
    padding-left: 15px;
    margin: 0;

}
.contact_list li a {
    text-decoration: none;
    color: wheat;
}

.img{
    width: 100%;
}